.modal-block {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666a;
    z-index: 200;
}

.window-block {
    width: 475px;
    height: 475px;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    color: black;
    overflow: 'scroll';
}

.window-header {
    display: flex;
    justify-content: space-between;
}

.window-content {
    max-height: 90%;
    overflow: auto;
}

.window-icon.close {
    border-radius: 50%;
    background-color: #F88;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}

.window-icon.close:hover {
    background-color: #E77;
}