
.app-container {
  min-height: 500px;
}

.container {
  min-height: 300px;
}

/*MainPage*/

.present-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #050025; /* TODO Заменить на картинку */
  color: #fdeca6;
}

.date-text {
  margin: 20px auto 20px 20px;
  flex: 1
}

.main-text-container {
  flex: 6;
  z-index: 1;
}

.main-text {
  font-size: 3em;
  max-width: 900px;
}

.days-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.day-box {
  border: 2px black solid;
  min-width: 250px;
}

.day-box a {
  color: black;
}

.citation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #050025; /* TODO Заменить на картинку */
  color: #fdeca6;
  height: 300px;

}


/*About_forum*/
.aboutForum{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: justify;
}

.col_2-3{
  width: 69.6666666667%;
  float: left;
}

.col_1-3 {
  width: 30.3333333333%;
  float: left;
  padding-left: 20px;
}

.cels{
  margin-left: 40px;
  margin-right: 40px;
}


/*Programm*/
.downloadPdf{
  margin: 20px;
  font-style: italic;
  font-weight: bolder;
  font-size: 120%;
  max-width: 240px;
  background-color: yellow;
}
.downloadPdf:hover{
  opacity: 0.8;
}







