
.app-container {
  min-height: 500px;
}

.container {
  min-height: 300px;

}

.info-container {
  padding-left: 40px;
}

/*MainPage*/

.present-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #050025; /* TODO Заменить на картинку */
  color: #fdeca6;
}

.date-text {
  margin: 20px auto 20px 20px;
  flex: 1
}

.main-text-container {
  flex: 6;
}

.main-text {
  font-size: 3em;
  max-width: 900px;
}

.days-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.day-box {
  border: 2px black solid;
  min-width: 250px;
}

.day-box a {
  color: black;
}

.citation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #050025; /* TODO Заменить на картинку */
  color: #fdeca6;
  height: 300px;

}


/*About_forum*/
.aboutForum{
  margin: 15px 25px 15px 15px;
  text-align: justify;
  font-size: 17px;
}

.col_2-3{
  width: 67%;
  float: left;
}
.clear{
  clear: both;
}

.col_1-3 {
  width: 20%;
  float: left;
  margin-left: 70px ;
}

.cels{
  margin-left: 40px;
}


/*Programm*/

.tabl2{
  text-align: center;
  border-collapse: separate;
  border-spacing: 3px;
  background-color: #040207;
  font-size: 17px;
  color: #000000;
  margin:auto;
  max-width: 1200px;
  min-width: 400px;
}


.tabl2 td{
  background-color: white;
  padding: 10px;
}

.day {
  padding: 10px;
  color: #ff0e18;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Century Gothic";
}

tr .members{
  background: #8bd6cb;
}

tr .live{
  background: #ffd1dd;
}

tr .food{
  background: #eeb67b;
  font-weight: bold;
}


.downloadPdf{
  margin: 20px 10px 20px 45px;
  font-style: italic;
  font-weight: bolder;
  font-size: 120%;
  max-width: 240px;
  background-color: yellow;
  color: black;
}

.downloadPdf:hover{
  opacity: 0.8;
}

.downloadPdf:visited{
  color: powderblue;
}



