.nav_links li, .nav_links a{
    font-family: "Baloo Bhaina 2", cursive;
    font-weight: 500;
    font-size: 17px;
    color: #fdeca6;
    text-decoration: none;
}

.nav_l{
    text-decoration: none;
    color: #fdeca6;
    transition: all .3s ease 0s;
}
.nav_l:hover{
    cursor: pointer;
    color: darkgoldenrod;
}


.nav_links{
    list-style: none;
    z-index: 3;
}

.nav_links li{
    display: inline-block;
    padding: 20px 40px;
    position: relative;
}


.nav_links li a{
    transition: all .3s ease 0s;
}

.nav_links li a:hover {
    cursor: pointer;
    color: darkgoldenrod;
}

.s_links{
    position: absolute;
    background-color: black;
    width: 350px;
    left: 0;
    top: -600px;
    transition: all .3s ease 0s;
    z-index: 100;
    padding: 0;
}

.s_links li{
    display: block;
    padding: 20px 40px;
    border-top: 1px solid #ddaa55;
}

.nav_links li:hover ul.s_links{
    top: 59px;
}


