.info-container1 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}


.head{
    background: linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.75)), url(./space.jpg);

    height: 500px;
    position: relative;
    z-index: -1;
}

.head h1{
    text-align: center;
    top: 150px;
    color: #fdeca6;
    font-size: 3em;
    position: relative;
    margin: 0;
}

.head-ed {
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.75)), url(./vistavka.jpeg);
    height: 500px;
    position: relative;
    z-index: -1;
}

.head-ed h1{
    text-align: center;
    top: 150px;
    color: #fdeca6;
    font-size: 3em;
    position: relative;
    margin: 0;
}

.head-np{
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.75)), url(./Presentations.jpg);
    height: 500px;
    position: relative;
    z-index: -1;
}

.head-np h1{
    text-align: center;
    top: 150px;
    color: #fdeca6;
    font-size: 3em;
    position: relative;
    margin: 0;
}

.head-npp{
    background:linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.75)), url(./Moon.jpg);
    height: 500px;
    position: relative;
    z-index: -1;
}
.head-npp h1{
    text-align: center;
    top: 150px;
    color: #fdeca6;
    font-size: 3em;
    position: relative;
    margin: 0;
}

.head-stud{
    background:linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.58)), url(./Sunsystem.png);
    height: 500px;
    position: relative;
    z-index: -1;
}

.head-stud h1{
    text-align: center;
    top: 150px;
    color: #fdeca6;
    font-size: 3em;
    position: relative;
    margin: 0;
}


.head-prof{
    background:linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.58)), url(./cosmon.jpg);
    height: 500px;
    position: relative;
    z-index: -1;
}

.head-prof h1{
    text-align: center;
    top: 150px;
    color: #fdeca6;
    font-size: 3em;
    position: relative;
    margin: 0;
}

.head-ex{
    background:linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.58)), url(./roket.jpg);
    height: 500px;
    position: relative;
    z-index: -1;
}

.head-ex h1{
    text-align: center;
    top: 150px;
    color: #fdeca6;
    font-size: 3em;
    position: relative;
    margin: 0;
}

.ed li{
    list-style: circle;
    margin-left: 30px;
}
.ed2 li{
    list-style: square;
    margin-left: 30px;
}
.tabl1{
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    background-color: #ddaa55;
    color: white;
}
.tabl1{
    margin-left: 40px;
    margin-right: 40px;
}

.tabl1 th{
    color: #050025;
    font-size: 18px;
    padding: 10px;
}
.tabl1 td{
    background: linear-gradient(to right, #000e5c, #050025);
    padding: 10px;
}

.ol1 li{
    margin-left: 30px;
}

.center-logo {
  display: block;
  margin: 0 auto;
  max-width: 650px;
}
