
.head-k{
    background: linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.75)), url(./contacts1.jpg);
    height: 500px;
    position: relative;
    z-index: -1;
}


.contact_text{
    font-family: 'Oswald', sans-serif;
    margin-left: 30px;
}

.map{
    text-align: center;
}

.map iframe {
    width: 100%;
    height: 500px;
}




