.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fdeca6;
    height: 50px;
    padding: auto 10px auto 10px;
}

.menu-btn {
    background-color: #00000000;
    color: #fdeca6;
    border: 0;
    outline: none;
}

.register-btn {
    background-color: #fdeca6;
    border: 0;
    border-radius: 15px;
    height: 30px;
    outline: none;
}

.register-btn:active {
    background-color: #da5;
}