.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fdeca6;
    height: 50px;
    padding: 30px;
}

.register-btn {
    background-color: #fdeca6;
    border: 0;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    outline: none;
    cursor: pointer;
    transition: all .3s ease 0s;
}

.register-btn:active {
    background-color: #da5;

}
