
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fdeca6;
    max-height: 60px;
    padding: 0px 30px 0px 30px;
}

.register-btn {
    background-color: #fdeca6;
    border: 0;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    outline: none;
    cursor: pointer;
    transition: all .3s ease 0s;

}

.register-btn:hover {
    background-color: #da5;

}
.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    animation: showElement;
    animation-duration: 1s;
}
@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

/*buttonUp*/

.back_to_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
    display: none;
  }
  
  .back_to_top:hover {
    opacity: 0.9;;
  }
  
  .back_to_top-show {
    display: block;
  }